<%- include('partials/header.ejs')%> 

<h1>This is the campgrounds page</h1>

<% campgrounds.forEach(campgrounds => { %>
    <div>
        <h4 class="secondary"><%= campgrounds.name %> </h4>
        <img src="<%= campgrounds.image %> " alt="<%= campgrounds.name %>">
    </div>
        
   
<% }); %>  

<%- include('partials/footer.ejs') %> 